<!DOCTYPE html>
<html lang="pt-br">
  <style>
     html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  </style>
  <head>
  <title>Avaliações</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.16/sweetalert2.min.css', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <!-- Core JS files -->
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js', 'data-turbo-track': 'reload' %>
  <!-- /core JS files -->
  
  <!-- Theme JS files -->
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.16/sweetalert2.min.js', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js", defer: true %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <!-- Theme JS files -->
  <%= javascript_importmap_tags %>
  </head>
  <body id="app" data-hash="<%= "#{[*777777..888888].sample}#{(0...30).map { (65 + rand(26)).chr }.join}" %>">
  <div class="container-fluid h-100">
    <div class="row" style="height: 10%">
      <%= render 'layouts/header' %>
    </div>
    <div class="row" style="height: 90%">
      <div class="col-2 p-0">
        <%= render 'layouts/menu' %>
      </div>
      <div class="col-10 p-4">
        <div class="page-container">
          <div class="page-content">
            <div class="content-wrapper">
              <%= flash_message %>
              <div style="margin-bottom: 10px;">
                <%= yield :area_info %>
              </div>
              <%= yield %>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <%#= render 'layouts/footer' %>
  <!-- Modal padrão fixo do projeto -->
  <div 
    class="modal fade"
    data-controller="modal"
    tabindex="-1"
    data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"  
  > 
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
      </div>
    </div>
  </div>
  <!-- Modal padrão fixo do projeto -->
  </body>
</html>
