<div class="card"  style="margin-bottom: 10px;">
  <div class="card-body">
    <h3 class="card-title">
      <i class="<%= icone_search %> position-left"></i>
      <%= t 'helpers.pesquisa' %>
    </h3>
    <p class="card-text">
      <%= search_form_for @q, url: avaliacoes_path do |f| %>
        <div class="row">
          
            <div class="col-md-4">
              <div class="form-group">
                <%= f.search_field :texto_cont,
                  placeholder: t('activerecord.attributes.avaliacao.texto'),
                  class: 'form-control busca_ransack', maxlength: 10 %>
              </div>
            </div>
          
            <div class="col-md-3">
              <div class="form-group">
                <%= f.search_field :sentimento_cont,
                  placeholder: t('activerecord.attributes.avaliacao.sentimento'),
                  class: 'form-control busca_ransack', maxlength: 10 %>
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="form-group">
                <%= f.search_field :produto_id_cont,
                  placeholder: t('activerecord.attributes.avaliacao.produto_id'),
                  class: 'form-control busca_ransack', maxlength: 10 %>
              </div>
            </div>
          
          <div class="col-md-1">
            <button name="button" type="submit" class="btn btn-primary right center_on_mobile legitRipple">
              <span><%= t 'acoes.buscar' %></span>
            </button>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>

<div class="card h-100">
  <div class="card-body">
    <h3 class="card-title d-flex justify-content-between">
      <%= t 'activerecord.models.avaliacao'.pluralize.titleize %>
      <%= btn_novo t('avaliacoes.new'), new_avaliacao_path %>
    </h3>
    <p class="card-text">
      <div class="table-responsive">
        <table class="<%= tabela_padrao_class %>">
          <thead>
          <tr>
            <th><%= t 'activerecord.attributes.avaliacao.texto' %></th>
            <th><%= t 'activerecord.attributes.avaliacao.sentimento' %></th>
            <th><%= t 'activerecord.attributes.avaliacao.produto_id' %></th>
            <th class="text-center">
              <%= t 'activerecord.attributes.acoes' %>
            </th>
          </tr>
          </thead>
          <tbody>
            <% @avaliacoes.each do |objeto| %>
              <tr>
                
                  <td><%= objeto.texto %></td>
                
                  <td><%= objeto.sentimento %></td>
                
                  <td><%= objeto.produto_id %></td>
                
                  <td class="text-center">
                    <%= btn_visualizar(avaliacao_path(objeto)) %>
                    <%= btn_editar(edit_avaliacao_path(objeto), label: '') %>
                    <%= btn_excluir(avaliacao_path(objeto)) %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @avaliacoes.count == 0 %>
        <blockquote>Nenhum registro encontrado.</blockquote>
      <% end %>
    </p>
  </div>
  <div class="card-footer">
    <%= render 'shared/pagy_paginacao' %>
  </div>
</div>
