<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <button type="button" class="close" data-action="modal#force_close">×</button>
    <h5 class="modal-title">Carregar Avaliações</h5>
  </div>
  <div class="modal-body">
    <%= form_with url: avaliacoes_por_csv_path(produto_id: @produto_id), method: :post, html: { multipart: true } do |form| %>
        <%= form.hidden_field :produto_id, value: @produto_id %>
  
        <div class="form-group">
            <%= form.label :file, "Carregar CSV com Avaliações" %>
            <%= form.file_field :file, accept: ".csv", class: "form-control" %>
        </div>

        <%= form.submit "Enviar", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>